port=3000
mongoURL=mongodb+srv://your_mongo_connection_string
user=your_postgres_username
host=localhost
database=cipersqlstudiopg
password=your_password
pgport=5432
apikey=your_gemini_api_key
secretkey=your_jwt_secret